*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.contenedor{
    
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
   
}


.menu{
    height: 50px;
    background-color: blueviolet;
   display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.btn{
    font-weight: 700;
}


.btn>a{
    color: white;
    text-decoration: none;
}
.btn>a:hover{
    color:plum;
    text-decoration: none;
}


.banner>img{
    width: 100%;
}


.texto{
    padding: 5%;
    line-height: 150%;
}

.texti{
    padding: 5%;
    line-height: 150%;
    font-size: 40px;
}
.text{
    padding: 5%;
    line-height: 150%;
    font-size: 30px;   
    padding-top: 10%;
    padding-bottom: 10%;
}

.pie{
  
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1%;
    border-top: 5px groove black 
}
.pie>p{
    flex-grow: 2;
    padding-left: 4%;
}
.redes{
    margin-right: 1%;
}
.redes:hover{
    filter: grayscale(100%);
}

.imagen>img{
    width: 100%;
    height: 100%;
}
.caja01{
    display: flex;
    justify-content: space-around;
    height: auto;
    flex-direction: row;
}
.texto{
   padding: 10%;
    width: 50%;
    line-height: 150%;
}
.imagen{
    
    width: 50%;
}
.alreves01{
    flex-direction: row-reverse;
}

.caja02{
    display: flex;
    justify-content: space-around;
    height: 300px;
    flex-direction: row;
    margin-bottom: 3%;
    margin-top: 5%;
}

.textote{
    width: 60%;
    padding: 10%;
    line-height: 150%;
    background-color: plum;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.imagencita{
    width: 40%;  
}
.alreves02{
    flex-direction: row-reverse;  
}

iframe{
    width: 100%;
    height: 100%;
}

.fancy{
    display: flex;
    flex-direction: row;
    padding: 3%;
    justify-content:space-between
}
.photos>img{
    width: 100%;
}

.galeria{
    display: flex;
    width: 100%;
    height: 500px;
}

.galeria>img{
    width: 0px;
    flex-grow: 1;
    object-fit: contain;
    opacity: .7;
    transition: .5s ease;
}

.galeria>img:hover{
    width: 50%;
    opacity: 1;
}

.imagen>h1{
    margin: 1em auto;
    text-align: center;
}
input, textarea, select{
    margin: 10px 0 0 0;
    width: 100%;
}

.inline{
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
    display: inline;
}
input[type="submit"]{
    display: block;
    width: 40%;
    margin: 16px;
    height: 32px;
    font-size: 18px;
    background-color: plum;
    color: black;
}
input[type="submit"]:hover{
    display: block;
    width: 40%;
    margin: 16px;
    height: 32px;
    font-size: 18px;
    background-color: plum;
    color: black;
    filter: grayscale(100%);
}

@media(max-width:786px){
    .caja01{
       flex-wrap: wrap;
    }
    .texto{
      
        width: 100%;
       
    }
    .imagen{
        
        width: 100%;
    }
    .alreves01{
        flex-direction: row-reverse;
    }

    .caja02{
        flex-wrap: wrap;
    }
    
    .textote{
        width: 100%;
        
       
    }
    .imagencita{
        width: 100%;  
    }
    .alreves02{
        flex-direction: row-reverse;  
    }
    .pie{
  
        flex-wrap: wrap;
    }
    .pie>p{
    width: 100%;
    }
    .redes{
        width: 20%;

    }
    .redes img{
        width: 40%;
        
    }
    .redes:hover{
        filter: grayscale(100%);
    }
    .fancy{
        flex-wrap: wrap;

    }
    .photos>img{
        width: 50%;
    }

}